Repository ifnotnil/x: changes, and which Codecov flags are due for each by the changed paths.
All: http, conf

readme
  README.md
  conf/README.md
Due: conf

http: echo handler and tests
  .github/workflows/go_lint.yml
  .golangci.yml
  http/client.go
  http/echo.go
  http/echo_test.go
  http/encoding.go
  http/go.mod
  http/go.sum
  http/http.go
  http/http_test.go
  http/internal/testingx/testing.go
  tools/tools.mk
Due: http

fix
  http/http_test.go
Due: http

module workflows paths
  .github/workflows/sub_conf.yml
  .github/workflows/sub_http.yml
Due: none

http: echo handler and tests (#6)
  .github/workflows/go_lint.yml
  .github/workflows/sub_conf.yml
  .github/workflows/sub_http.yml
  .golangci.yml
  http/client.go
  http/echo.go
  http/echo_test.go
  http/encoding.go
  http/go.mod
  http/go.sum
  http/http.go
  http/http_test.go
  http/internal/testingx/testing.go
  tools/tools.mk
Due: http

update docs/tags.md
  docs/tags.md
Due: none

workflow updates
  .github/actions/tools/action.yml
  .github/workflows/go_lint.yml
  .github/workflows/go_test.yml
Due: none

workflow updates (#7)
  .github/actions/tools/action.yml
  .github/workflows/go_lint.yml
  .github/workflows/go_test.yml
Due: none

refactor workflows
  .github/workflows/ci.yml
  .github/workflows/go_lint.yml
  .github/workflows/go_test.yml
  .github/workflows/sub_conf.yml
  .github/workflows/sub_http.yml
Due: none

refactor workflows (#8)
  .github/workflows/ci.yml
  .github/workflows/go_lint.yml
  .github/workflows/go_test.yml
  .github/workflows/sub_conf.yml
  .github/workflows/sub_http.yml
Due: none

add mocekry
  .github/workflows/ci.yml
  http/.mockery.yml
  http/compress/mocks_test.go
  http/httplog/mocks_test.go
  http/internal/testingx/mocks_test.go
  scripts/lib.mk
  tools/go.mod
  tools/go.sum
  tools/tools.go
  tools/tools.mk
Due: http

add mockery to ci tools cache
  tools/tools.mk
Due: none

update action
  .github/actions/tools/action.yml
  .github/workflows/sub_scripts.yml
Due: none

update readme
  README.md
Due: none

add RFC5987ExtendedNotationParameterValue
  .golangci.yml
  .vscode/sample.settings.json
  http/echo.go
  http/encoding.go
  http/encoding/encoding.go
  http/encoding/encoding_test.go
  http/encoding/mktable.go
  http/encoding/table.go
  http/go.mod
  http/go.sum
  http/httplog/writer.go
  scripts/go.mk
  scripts/lib.mk
Due: http

add RFC5987ExtendedNotationParameterValue (#11)
  .golangci.yml
  .vscode/sample.settings.json
  http/echo.go
  http/encoding.go
  http/encoding/encoding.go
  http/encoding/encoding_test.go
  http/encoding/mktable.go
  http/encoding/table.go
  http/go.mod
  http/go.sum
  http/httplog/writer.go
  scripts/go.mk
  scripts/lib.mk
Due: http

disable wsl_v5
  .golangci.yml
Due: none

disable noinlineerr
  .golangci.yml
Due: none

disable embeddedstructfieldcheck
  .golangci.yml
Due: none

dependabot config: group everythig together
  .github/dependabot.yml
  scripts/dependabot-file
Due: none

dependabot rename commit message prefix; reorder workflows paths
  .github/dependabot.yml
  .github/workflows/sub_conf.yml
  .github/workflows/sub_http.yml
  scripts/dependabot-file
Due: none

add tst module
  .github/dependabot.yml
  .github/workflows/sub_tst.yml
  tst/.mockery.yml
  tst/Makefile
  tst/README.md
  tst/errors.go
  tst/errors_test.go
  tst/go.mod
  tst/go.sum
  tst/mocks_test.go
Due: none

unittest ErrorIs
  tst/errors.go
  tst/errors_test.go
Due: none

codecov for tst
  codecov.yml
Due: none

lint fixes
  tst/errors.go
Due: none

add unittests for ErrorOfType
  tst/.mockery.yml
  tst/errors.go
  tst/errors_test.go
Due: none

add unittest of ErrorStringContains
  tst/errors.go
  tst/errors_test.go
Due: none

unit tests
  tst/errors.go
  tst/errors_test.go
Due: none

readme
  README.md
Due: none

omit thelper lint in some tests
  tst/errors_test.go
Due: none

add `tst` module (#22)
  .github/dependabot.yml
  .github/workflows/sub_tst.yml
  README.md
  codecov.yml
  tst/.mockery.yml
  tst/Makefile
  tst/README.md
  tst/errors.go
  tst/errors_test.go
  tst/go.mod
  tst/go.sum
  tst/mocks_test.go
Due: none

[http] lint fixes
  http/echo.go
Due: http

lint fixes
  http/echo.go
Due: http

bumps and chores
  tools/go.mod
  tools/go.sum
Due: none

bumps and chores (#24)
  tools/go.mod
  tools/go.sum
Due: none

[tst] refactor interfaces
  tst/errors.go
  tst/errors_test.go
  tst/mocks_test.go
Due: none

edge cases tests
  tst/errors.go
  tst/errors_test.go
Due: none

[tst] refactor interfaces (#28)
  tst/errors.go
  tst/errors_test.go
  tst/mocks_test.go
Due: none

bump go 1.25 drop go 1.23
  .github/workflows/ci.yml
  .github/workflows/sub_scripts.yml
  .golangci.yml
  conf/go.mod
  http/go.mod
  tst/go.mod
Due: http, conf

Path conditions:
  http: any of: http/, but not: http/internal/testingx
  conf: any of: conf/, but not: http/internal/testingx
